// credentials.h
#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID "YOUR-SSID"  //enter your SSID
#define WIFI_PASS "WIFI-PSW" //enter your wifi password
#define HOST_SITE "YOUR.NIGHTSCOUT.SITE" //enter your nightscout host here - no "https://" needed
// SHA1 fingerprint of the host's SSL certificate
// Goto https://www.grc.com/fingerprints.htm type in ur sites URL to obtain the fingerprint
#define HOST_PRINT "AF:B5:..." //enter the https fingerprint if you want this verification

#endif // CREDENTIALS_H
